body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20%;
}

#taskinput {
    padding: 8px;
    width: 70px;
}

button {
    padding: 8px 15px;
}

 ul {
    list-style-type: none;
    padding: 0;
 }

li {
    margin: 5px 0;
    padding: 8px;
    background: #f0f0f0;
}